.navbar {
  height: 100px;
}

.navbar-brand {
  margin-left: 120px;
}

.active {
  border-bottom: 2px solid #333333;
}

a.navbar-item:last-child {
  margin-right: 150px;
}

.search-box {
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

#search {
  display: block;
  width: 680px;
  height: 54px;
  border-radius: 4px;
  align-self: center;
  font-size: 20px;
  padding-top: 12px;
  padding-bottom: 13px;
}

#search::placeholder {
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 13px;
}

.footer {
  background: #333333;
  color: white;
}